html, body{
	padding: 0; 
	margin: 0;
}

#menu_div{
	top: 0; 
	right: 85%; 
	bottom: 0; 
	left: 0%;
	color: #fff;
	background-color: #000; 
	position: 
	absolute !important;
} 

#earth_div{
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 15%;
	background-color: #000; 
	position: 
	absolute !important;
} 

#mapL, #mapWE {
	position:absolute !important; 
	top: 0; 
	right: 0; 
	bottom: 10%; 
	left: 15%;
	background-color: #000; 
	position: absolute !important;}
#mapL {
	right: 45%;
}

#mapWE {
	left: 55%;
}

#coords {
	position: absolute; 
	left: 15%;
	right: 0;
	bottom: 0;
	color: #fff;
	background-color: #000; 
	font-size: 44px;
}
